@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

h1{
    /* color: purple; */
    font-weight: 50;
    font-size: 50px;
    text-transform: uppercase;
    border-top: 3px solid;
    letter-spacing: 6px;

}

body{
    background-color: #f69680;
    color: #2e1263;
    /* font-family: "Indie Flower&display"; */
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Amatic SC', cursive;
    font-weight: 50;
}

img{
    height: 400px;
    border-radius: 10%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    margin: 30px auto 0;
    padding: 20px 25px;
    color: #2e1263;
    background-color: #f69680;
    font-size: 14px;
    text-align: center;
    border: 1px solid #2e1263;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
    outline: none;

}

button:hover{
    /*0.2s delay */
    transition: 0.4s;
    background-color: #2e1263;
    color: #f69680;
}

p{
    font-size: 30px;
}